  {{> sidebar}}
    <div class="main-panel">
      <!-- Navbar -->
      {{> header}}
      <!-- End Navbar -->
      <div id="map"></div>
    </div>
  </div>
  {{> footer}}
  <!--   Core JS Files   -->
  {{> fixedplugins}}